.custom-shape-divider-bottom-1713003235 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background: #041527;
}

.custom-shape-divider-bottom-1713003235 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1713003235 .shape-fill {
    fill: #FFFFFF;
}

@media(max-width: 786px) {
    .custom-shape-divider-bottom-1713003235 svg {
        height: 40px;
    }
}