.benefits{
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4rem;
    column-gap: 4rem;
}
.card{
    border: 1px solid #d3d5d8;
    border-radius: 1.25rem;
    height: 100%;
}

